<div class="container mt-4" >
  <div class="card">
    <div class="headings d-flex justify-content-center">
          <h1>Product Name</h1>
        </div>
<form>
  <div class="form-group">
    <label>Product Name</label>
    <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"  class="form-control" id="name" placeholder="Product Name">
  </div>

  <div class="form-group">
      <label>Categary Name</label>
      <input type="text" class="form-control"  [(ngModel)]="categary" [ngModelOptions]="{standalone: true}" id="categary" placeholder="Categary Name">
    </div>



  <button type="submit" (click)="save()" class="btn btn-primary">Submit</button>
</form>


</div>
</div>

<div class="container mt-4 " >
  <div class="heading d-flex justify-content-center">
<h1  >Product Table</h1>
</div>
<table class="table">
<thead>
<tr>
  <th scope="col">Product Id</th>
  <th scope="col">Categary Id</th>
    <th scope="col">Product Name</th>
    <th scope="col">Product Categary</th>

    <th scope="col">Option</th>
  </tr>
</thead>
<tbody>

    <tr *ngFor="let ProductItem of ProductArray | paginate
    : {
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
      };let i= index">
      <td>{{ i+1 }}</td>
      <td>{{ ProductItem._id }}</td>
    <td>{{ProductItem.name  | uppercase}}</td>
    <td>{{ProductItem.categary }}</td>

    <td>
      <button type="button" class="btn btn-success" (click)="setUpdate(ProductItem)" >Edit</button>


      <button type="button" class="btn btn-danger" (click)="setDelete(ProductItem)">Delete</button>
    </td>
  </tr>
</tbody>
</table>

<div class="d-flex justify-content-center">
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls>
</div>





</div>
